#register-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94vh;
}
#register-form{
    border: 1px solid black;
    border-radius: 25px;
    width: 800px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#register-form h1{
    margin: 10px;
}
#register-form button{
    margin: 10px;
}
.input-form{
    display: flex;
    justify-content: space-between;
    width: 350px;
}
.input-field{
    width: 450px;
    font-size: 18px;
}
.register-button{
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
.element-padding{
    padding: 5px;
}
