<?xml version="1.0" encoding="utf-8"?>
<configuration>
<runtime>
      <loadFromRemoteSources enabled="true"/>
   </runtime>
  <appSettings>
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/5/plot" value="false" />
    <add key="/amdcpu/0/load/6/plot" value="false" />
    <add key="/amdcpu/0/load/7/plot" value="false" />
    <add key="/amdcpu/0/load/8/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/power/0/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/amdcpu/0/power/2/plot" value="false" />
    <add key="/amdcpu/0/power/3/plot" value="false" />
    <add key="/amdcpu/0/power/4/plot" value="false" />
    <add key="/amdcpu/0/power/5/plot" value="false" />
    <add key="/amdcpu/0/power/6/plot" value="false" />
    <add key="/amdcpu/0/power/7/plot" value="false" />
    <add key="/amdcpu/0/power/8/plot" value="false" />
    <add key="/amdcpu/0/power/9/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/fan/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="725" />
    <add key="mainForm.Location.Y" value="196" />
    <add key="mainForm.Width" value="534" />
    <add key="mainForm.Height" value="640" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/temperature/4/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/clock/5/plot" value="false" />
    <add key="/amdcpu/0/clock/6/plot" value="false" />
    <add key="/amdcpu/0/clock/7/plot" value="false" />
    <add key="/amdcpu/0/clock/8/plot" value="false" />
    <add key="/amdcpu/0/power/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/hdd/1/temperature/0/values" value="" />
    <add key="/hdd/1/load/0/values" value="" />
    <add key="/hdd/2/load/0/values" value="" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAFvWqy7C7Hnbg4HBwynunS47Axh4OF2cn8wEYXs6ed9d+RrCPvC/Y9IpqLiPE2fsfUaYOAAI0kcnSAAAAA==" />
    <add key="/nvidiagpu/0/fan/0/values" value="H4sIAAAAAAAEANu1RV2E2fO2BwMQzK6eyMkABXfer3wNYR3431F/igkm/sPjPiNMHABH8daWPAAAAA==" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEANt7W12E2fO2B2PAQpcZIRM5GYAAxL7zfuVrBjA48L+j/hQTTPyHx31GmDgAkvmLMDwAAAA=" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEANt7W12E2fO2ByNDtOuMkImcDEAAYt95v/I1Axgc+N9Rf4oJJv7D4z4jTBwA5lAeRTwAAAA=" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEANt7W12E2fO2B2OAouuMkImcDEAAYt95v/I1Axgc+N9Rf4oJJv7D4z4jTBwA/+sSZjwAAAA=" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEANt7W12E2fO2BwODg/201nQmBjBosNf1T4ayGRgm3U+Csh3snRfAxBvs7rxf+RrCPvB/zeRTcPVXTO4zwsQBplZDR2AAAAA=" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEANt7W12E2fO2BwPDAvtprelMDGDQYM90XpMdxr7zfuVrCPvA/zWTT8HVXDG5zwgTBwAETcjbSAAAAA==" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEANt7W12E2fO2BwMQzAiZyMkABXfer3wNYR34v2byKSaY+BWT+4wwcQDAGnc1PAAAAA==" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEANt7W12E2fO2BwMQHL5yioUBCibdT2KCsBrsnBckM8HE77xf+RrCOvB/zeRTcPErJvcZYeIAfSYaXFQAAAA=" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEANt7W12E2fO2x4fKaMfdM9OZGIBAQDLakS8pGcz+oBfteOFMEpjtwB3j+L8bIr4hJMbxzvuVrxnA4MD/NZNPgcUvn1nq+CT6PiNMHABvNVcbYAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEANt7W12E2fO2h8OjGNfdM9OZGIDgwMcYV76kZDDb4V2M64UzSWA2w+kY1//dUPH9Ma533q98DRZnOPB/zeRTYPEVH71cn0TfZ4SJAwC8Mzz1YAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEANt7W12E2fO2B0M5j8vumelMDCBgyePCl5QMYbvzuFw4kwRhX+Fx+d8NFWfmdbnzfuVrMJvhwP81k0+BxRMsQ1yeRN9nhIkDAC30ZVxgAAAA" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEANt7W12E2fO2BwNDg+uMkImcDGDQ4Hrn/crXEPaB/2smn2KCiT+Jvs8IEwcA2EiTqzwAAAA=" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEANt7W12E2fO2BwMQzAiZyMkABXfer3wNYR34v2byKSaY+JPo+4wwcQA6TnLiPAAAAA==" />
    <add key="/nvidiagpu/0/power/0/values" value="" />
    <add key="/nvidiagpu/0/throughput/0/values" value="H4sIAAAAAAAEAFucryPC7Hnbg4GhylFnTjoTAwg4zLF/GZ8MYTNU2cU+TIKyGRiCG5Lh7OTuZa8hrAP/Zb+fhYgv6HGwlbnHCBMHAJz4UllgAAAA" />
    <add key="/nvidiagpu/0/throughput/1/values" value="H4sIAAAAAAAEALPxNBRh9rztwcBQZS8wM52JAQqYT2myw9g1axa+hrAO/He8dQmq5pedpOVNRpg4AB5zEypIAAAA" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAHt//oAIs+dtD2WPXY4NO9KZGIBgRvQux5usiWB2bNYuR43gVDD7d+oux4dxeW8ZwODA/8UnVrLA2ADGR9WCSAAAAA==" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAHt//oAIs+dtD5Xnbx0adqQzMQDBn/9vHW6yJoLZt4TeOWgEp4LZTrzvHB7G5b1lAIMD/7e8X8kCYwMALqV6fEgAAAA=" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAHt//oAIs+dtj/RPhx0bdqQzMQCBwZvDjjdZE8HsqueHHTWCU8HsBy8OOz6My3vLAAYH/m95v5IFxgYAC0R+OkgAAAA=" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEAHt//oAIs+dtD5G9HfYNO9KZGIAgwXCn3U3WRDBbIf2EHbNLKpi956iJ/d41GW8ZwODA/yrmVSwwNgCamvWhSAAAAA==" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEAHt//oAIs+dtj725nQ4NO9KZGIDg/RF2h5usiWA2A4OYPbNLKoTt0Oxw8nLGW4j4gf95d1aywNgA7+H1KUgAAAA=" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEAHt//oAIs+dtD4PbmfYNO9KZGIDAfaOr/U3WRDCbgeGhPbNLKpitYF1pf/JyxluI+IH/eXdWssDYAH81XVxIAAAA" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEAHt//oAIs+dtDwYgiGHSY2eAgpOXM95CWAf+591ZyQJjAwAl1KmzMAAAAA==" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEAHt//oAIs+dtDwYgiGHSY2eAgpOXM95CWAf+591ZyQJjAwAl1KmzMAAAAA==" />
    <add key="/amdcpu/0/load/5/values" value="H4sIAAAAAAAEAHt//oAIs+dtjw//6+0adqQzMUDBHc9jLDD2ycsZbyGsA//z7qxkgbEBqs4kMDwAAAA=" />
    <add key="/amdcpu/0/load/6/values" value="H4sIAAAAAAAEAHt//oAIs+dtj5hwA4eGHelMDFBwkzURyhazZ3ZJBbOdPwnZn7yc8RYifuB/3p2VLDA2AJgYRIFIAAAA" />
    <add key="/amdcpu/0/load/7/values" value="H4sIAAAAAAAEAHt//oAIs+dtDwYGD7uGHelMDFBwx/MYC4x98nLGWwjrwP+8OytZYGwAxOTiDTwAAAA=" />
    <add key="/amdcpu/0/load/8/values" value="H4sIAAAAAAAEAHt//oAIs+dtjxkreOwadqQzMUDBTdZEMHtCsZ8ds0sqXPzk5Yy3ENaB/3l3VrLA2ADw52+uSAAAAA==" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEAHt//oAIs+dtD4aGOKeGHelMDCDQ4O90kzURwj7g6MTskgphP3BxyvuU85YBIvGfmXkVC4wNADJG1s9IAAAA" />
    <add key="/amdcpu/0/temperature/2/values" value="" />
    <add key="/amdcpu/0/temperature/3/values" value="" />
    <add key="/amdcpu/0/temperature/4/values" value="H4sIAAAAAAAEAHt//oAIs+dtDwYHF6eGHelMDCBwQNzpJmsilC3sxOySCmE7CDnlfcp5ywCR+M/MvIoFxgYAQDYRgkgAAAA=" />
    <add key="/amdcpu/0/temperature/5/values" value="" />
    <add key="/amdcpu/0/temperature/6/values" value="" />
    <add key="/amdcpu/0/temperature/7/values" value="" />
    <add key="/amdcpu/0/power/0/values" value="H4sIAAAAAAAEAHt//oAIs+dtj4oyY6eGHelMDEAwrV/K6SZrIpit95XXidklFcyWE1RxKpfMfcsABgf+/7q9kgXGBgAz7OTKSAAAAA==" />
    <add key="/amdcpu/0/power/1/values" value="H4sIAAAAAAAEAHt//oAIs+dtj+wZ6Y4NO9KZGIBA7jG3403WRDBbif+gg0ZwKpj9/I+mYxBX7lsGMDjw/9ftlSwwNgDzGGaySAAAAA==" />
    <add key="/amdcpu/0/clock/0/values" value="" />
    <add key="/amdcpu/0/power/2/values" value="H4sIAAAAAAAEAHt//oAIs+dtj0cTXts37EhnYgACma399jdZE8HsuomG9swuqWD2GrHV9m0OuW8ZwODA/z+3V7LA2ACc6hrJSAAAAA==" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEAHt//oAIs+dtDw3WateGHelMDEAg9jHb9SZrIpgt7prryuySChdvc8h9ywAGB/7/ub2SBcYGALabdbNIAAAA" />
    <add key="/amdcpu/0/power/3/values" value="H4sIAAAAAAAEAHt//oAIs+dtDy4OH4eGHelMDEDAU6DrcJM1Ecz+VHnXntklFcy+9UrDoc0h9y0DGBz4/+f2ShYYGwDxMoADSAAAAA==" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEAHt//oAIs+dtj7lMra4NO9KZGIBA7GO2603WRDBb3DXXldklFS7e5pD7lgEMDvznZl7FAmMDADqG4cpIAAAA" />
    <add key="/amdcpu/0/power/4/values" value="H4sIAAAAAAAEAHt//oAIs+dtj6sdH+wadqQzMQCBq52f3U3WRDBbJJzPjtklFcwW3hBk1+aQ+5YBDA7852ZexQJjAwBgzr4qSAAAAA==" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEAHt//oAIs+dtDw3WateGHelMDEAg9jHb9SZrIpgt7prryuySChdvc8h9ywAGB/5zM69igbEB0C7L3UgAAAA=" />
    <add key="/amdcpu/0/power/5/values" value="H4sIAAAAAAAEAHt//oAIs+dtD7ZJKg4NO9KZGIDgLf8c+5usiWD2HMMge2aXVDBbRPCCfWpe7lsGMDjw3/zOShYYGwAtKcGvSAAAAA==" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEAHt//oAIs+dtj7lMra4NO9KZGIBA7GO2603WRDBb3DXXldklFS6empf7lgEMDvw3v7OSBcYGAIg/aY5IAAAA" />
    <add key="/amdcpu/0/power/6/values" value="H4sIAAAAAAAEAHt//oAIs+dtD7Hfz+0bdqQzMQDBNOMU+5usiWD2ty9S9rYBqWB2nVaVvXZS7lsGMDjw3/zOShYYGwDa9TflSAAAAA==" />
    <add key="/amdcpu/0/clock/5/values" value="H4sIAAAAAAAEAHt//oAIs+dtDw3bKteGHelMDEAg9jHb9SZrIpgt7prrahuQChfXTsp9ywAGB/6b31nJAmMDAEhuSRhIAAAA" />
    <add key="/amdcpu/0/power/7/values" value="H4sIAAAAAAAEAHt//oAIs+dtj4ki6Q4NO9KZGIBALovL4SZrIphdxXDb3jYgFczW8Ixy0E7KfcsABgf+m99ZyQJjAwADmQb5SAAAAA==" />
    <add key="/amdcpu/0/clock/6/values" value="H4sIAAAAAAAEAHt//oAIs+dtj7nzWlwbdqQzMQCB2Mds15usiWC2ZmSNq21AKlxcOyn3LQMYHPhvfmclC4wNAP7bQcFIAAAA" />
    <add key="/amdcpu/0/power/8/values" value="H4sIAAAAAAAEAHt//oAIs+dtD+7j0vYNO9KZGICArbTW7iZrIpi9ZpmknUZwKpjtnj/T7kBx7lsGMDjwf/vxlSwwNgDIXVp5SAAAAA==" />
    <add key="/amdcpu/0/clock/7/values" value="H4sIAAAAAAAEAHt//oAIs+dtDw3bKteGHelMDEAg9jHb9SZrIpgt7prrqhGcChc/UJz7lgEMDvzffnwlC4wNAMuaSrdIAAAA" />
    <add key="/amdcpu/0/power/9/values" value="H4sIAAAAAAAEAHt//oAIs+dtj0mB++0adqQzMQDB3yoHu5usiWD2fiNrO43gVDB7eROL3YHi3LcMYHDg//bjK1lgbAA3SUk4SAAAAA==" />
    <add key="/amdcpu/0/clock/8/values" value="H4sIAAAAAAAEAHt//oAIs+dtDw3bKteGHelMDEAg9jHb9SZrIpgt7prrqhGcChc/UJz7lgEMDvzffnwlC4wNAMuaSrdIAAAA" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="260" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>