<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/5/plot" value="false" />
    <add key="/amdcpu/0/load/6/plot" value="false" />
    <add key="/amdcpu/0/load/7/plot" value="false" />
    <add key="/amdcpu/0/load/8/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/power/0/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/amdcpu/0/power/2/plot" value="false" />
    <add key="/amdcpu/0/power/3/plot" value="false" />
    <add key="/amdcpu/0/power/4/plot" value="false" />
    <add key="/amdcpu/0/power/5/plot" value="false" />
    <add key="/amdcpu/0/power/6/plot" value="false" />
    <add key="/amdcpu/0/power/7/plot" value="false" />
    <add key="/amdcpu/0/power/8/plot" value="false" />
    <add key="/amdcpu/0/power/9/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/fan/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="411" />
    <add key="mainForm.Location.Y" value="219" />
    <add key="mainForm.Width" value="534" />
    <add key="mainForm.Height" value="640" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/temperature/4/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/clock/5/plot" value="false" />
    <add key="/amdcpu/0/clock/6/plot" value="false" />
    <add key="/amdcpu/0/clock/7/plot" value="false" />
    <add key="/amdcpu/0/clock/8/plot" value="false" />
    <add key="/amdcpu/0/power/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/values" value="H4sIAAAAAAAEADtd7tNe7Xnbg4HhgiOb0R0/UwYQOPAfALMdZHcYAAAA" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEADtd7tNe7Xnbg4FBwYLN6I6fKQMIHPgPAHg3GSMYAAAA" />
    <add key="/hdd/1/temperature/0/values" value="H4sIAAAAAAAEAOMW8W2v9rztwcDA4vQ6+rOfKQMIHPgPAHVvCDkYAAAA" />
    <add key="/hdd/1/load/0/values" value="H4sIAAAAAAAEAOMW8W2v9rztcUCrztF832c/UwYQOPAfAGtFBy4YAAAA" />
    <add key="/hdd/2/load/0/values" value="H4sIAAAAAAAEAOMW8W2v9rzt8f2fndMMTyd/UwYQOPAfAOq/IkgYAAAA" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAFvWqy7C7Hnbg4HBwynunS47Axh4OF2cn8wEYXs6ed9d+RrCPvC/Y9IpqLiPE2fsfUaY+GS+lQ7lUHa/8wWomhCnlVcMtGHsdQ1JUPEwp1eVyXA13psT4exQuL2hTpu+JcDFWZbD9IY7JR2862UKtevU7nlQN0Q4tbzt5ISxAUx5lqLYAAAA" />
    <add key="/nvidiagpu/0/fan/0/values" value="H4sIAAAAAAAEANu1RV2E2fO2BwMQzK6eyMkABXfer3wNYR3431F/igkm/sPjPiNMfLHpSodyKLvX4AJcTeXleksYu2jmXS9TqJpTu+cxwsRb3nbC7QIAZlC7eoQAAAA=" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEANt7W12E2fO2B2PAQpcZIRM5GYAAxL7zfuVrBjA48L+j/hQTTPyHx31GmPhi05UO5VB2r8EFuJrKy/WWMHbRzLteplA1dx/NY4SJFx7rhNsFAL92gymEAAAA" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEANt7W12E2fO2ByNDtOuMkImcDEAAYt95v/I1Axgc+N9Rf4oJJv7D4z4jTHyx6UqHcii71+ACXE3l5XpLGLto5l0vU6iau4/mMcLEC491wu0CAHpKPxSEAAAA" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEANt7W12E2fO2B2OAouuMkImcDEAAYt95v/I1Axgc+N9Rf4oJJv7D4z4jTHyx6UqHcii71+ACXE3l5XpLGLto5l0vU6iau4/mMcLEC491wu0CAIO2Lu2EAAAA" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEANt7W12E2fO2BwODg/201nQmBjBosNf1T4ayGRgm3U+Csh3snRfAxBvs7rxf+RrCPvB/zeRTcPVXTO4zwsQXm650KIeyew0uwNX06maowdg/tNKg4gfs9fthdjHYr29MgrsnPA1ur/2Vo4lwN9TOQ7hz2vcEuPiN5TC9C+yLZt71MoW64e6jeYww8ZdhCDObouD2Moi+QPjxow7CTAAsADQXLAEAAA==" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEANt7W12E2fO2BwPDAvtprelMDGDQYM90XpMdxr7zfuVrCPvA/zWTT8HVXDG5zwgTX2y60qEcyu41uABXsyg0Qw3GfsyUBhU/YK/fnwRXs74Rxl5gH56WDBd/Hq0Gd8ON5Qg1RTPveplC7br7aB4jTPxlGEJvUxRMvYO96AuE+EedBDgbAO9QSRj8AAAA" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEANt7W12E2fO2BwMQzAiZyMkABXfer3wNYR34v2byKSaY+BWT+4ww8cWmKx3KoexegwtwNZWX6y1h7KKZd71MoWruPprHCBMvPNYJtwsAAwhos4QAAAA=" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEANt7W12E2fO2BwMQHL5yioUBCibdT2KCsBrsnBckM8HE77xf+RrCOvB/zeRTcPErJvcZYeKLTVc6lEPZvQYX4GoqL9dbwthFM+96mULV3H00jxEmXniskxPGBgC0QeTZnAAAAA==" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEANt7W12E2fO2x4fKaMfdM9OZGIBAQDLakS8pGcz+oBfteOFMEpjtwB3j+L8bIr4hJMbxzvuVrxnA4MD/NZNPgcUvn1nq+CT6PiNMfDLfSodyKPugywWwmt1ueY47FDPA7AbrPMdt8gwqMPYHzTSw+M+3+Y5KGRB7lxwrdlzfCGGrPCtxDE+DuKGEt8zx0ZtEMHsmd5ljfjlEfAdXmeMCuUQ4+1wDRK/WrBLHopl3vUyh7rn7aB7YnTzycx3/1EL0CvTOc2yJgqjfvmOeI8NBiHjI1XmOH4ITwGydpXMcAcUSHN04AQAA" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEANt7W12E2fO2h8OjGNfdM9OZGIDgwMcYV76kZDDb4V2M64UzSWA2w+kY1//dUPH9Ma533q98DRZnOPB/zeRTYPEVH71cn0TfZ4SJT+Zb6VAOZR90uQBWY/Ig0nWHYgbEzEeRrtvkGVRg7A+aaWDxmjmRrkoZEHs//ItwXd8IZV+IcA1Pg7hhw8II10dvEsHsP0B2fjlEXGFRhOsCuUQ4+1wDRK/E3QjXopl3vUyh7rn7aB7YnQt2+Lr+qYXobXD2dW2JgqjvMPV1ZTgIEU/Q8XX9EJwAZi+47+sKAPg6mH44AQAA" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEANt7W12E2fO2B0M5j8vumelMDCBgyePCl5QMYbvzuFw4kwRhX+Fx+d8NFWfmdbnzfuVrMJvhwP81k0+BxRMsQ1yeRN9nhIlP5lvpUA5lH3S5AFZjUC/hskMxA2JOhYTLNnkGFRj7g2YaWFygT9JFKQNirwOLjMv6Rih7j4xLeBrEDQ6Vsi6P3iRC1FfIuuSXQ8QbymVdFsglwtnnGiB6F3TLuBTNvOtlCnXP3UfzwO5skPV0+VML9dcnL5eWKIj6B5reLgwHoWb6ebt8CE6AsBs9XABFyHkKOAEAAA==" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEANt7W12E2fO2BwNDg+uMkImcDGDQ4Hrn/crXEPaB/2smn2KCiT+Jvs8IE5/Mt9KhHMo+6HIBrsZ1f70ljF00866XKVTN3UfzGGHiBW874XYBAOA408OEAAAA" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEANt7W12E2fO2BwMQzAiZyMkABXfer3wNYR34v2byKSaY+JPo+4ww8cl8Kx3KoeyDLhfgalz311vC2EUz73qZQtXcfTSPESZe8LYTbhcAi01jD4QAAAA=" />
    <add key="/nvidiagpu/0/power/0/values" value="" />
    <add key="/nvidiagpu/0/throughput/0/values" value="H4sIAAAAAAAEAFucryPC7Hnbg4GhylFnTjoTAwg4zLF/GZ8MYTNU2cU+TIKyGRiCG5Lh7OTuZa8hrAP/Zb+fhYgv6HGwlbnHCBPX4V3pUA5lz428BlHTYO1g74EwJ//TdE4Y+2ZGCtzeHTNS4WokjOeJwth/f0DFFbwdbm6Dum3CIwf9KJg7fzmsKsqAsA9EOZxeGgM358CWIyww9uQjSTD/OpRE3fEyhbqzs3IBxP0Jrxw2NUDVPNB2WBuYBHO//bbvUPcXiDhmGiRA/c7jAACSBG85UAEAAA==" />
    <add key="/nvidiagpu/0/throughput/1/values" value="H4sIAAAAAAAEALPxNBRh9rztwcBQZS8wM52JAQqYT2myw9g1axa+hrAO/He8dQmq5pedpOVNRpi4Du9Kh3IoW8r7NlzNc8tkuJnPmXIg7Ibd9nLzE+Di/3VPs8DY9ZkpEPEDt+wdqlPhan5kpMLFfZIR7mytYeCBsd2/ZcDVcFpmwNWwfobqVfB2UOtPgrAfaDuoNULZDdb2D4th6qvsApfFwNk5CxHuVxZKhLAd5tgvXJYEV7N06nUvU6jfpaOWMsLc8LQEYdcn+yS4ObySKfDw2aYDDYcDUQ4ArAFICYwBAAA=" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAHt//oAIs+dtD2WPXY4NO9KZGIBgRvQux5usiWB2bNYuR43gVDD7d+oux4dxeW8ZwODA/8UnVrLA2IdiVjqUQ9n+drnMIJZNwHnHD5lZYL0R3ucdNdQh5hcmn3e8FJkGZmeFnXfUWw0xvyX2vCMPfwqYfSb4vGMYczKYrR9/3vF9+m0wWwyoXs79EyOIfSnuvOOxlxBzFNzOO4bczACze0+dc1whDtFrO+ecY9UniPnim845Sn6CqH+34Jwjjx3EPfeB7LTdmWD2vUnnHLdGQcy5MP2c49NfEHOMbM87ltYmgdk66hccXadD2L8VLjiuaYewNxpecNz9BaLeW+OC4/2Wa2D2kevnHVUZ3oDdfOzheUfT84t8TKFh1bDVHqxmiriFE1MZJMyV8y2cbO9D2DJfLJxMzSFmhrpZOmV6QMRPJVs6AQACN+MpvAEAAA==" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAHt//oAIs+dtD5Xnbx0adqQzMQDBn/9vHW6yJoLZt4TeOWgEp4LZTrzvHB7G5b1lAIMD/7e8X8kCY280XelQDmX72+Uyg1jzE1kcP2RmgfXWx7E4aqhDzH+cy+J4KTINzJ6QyuKotxpivnQWiyMPfwqY/TSZxTGMORnM1s5mcXyffhvMjgaql3P/xAhivweqP/YSYo5WNItjyM0MiDt5WBxXiEP0bnjH7Fj1CWL+4j/MjpKfIOrXfWR25LGDuGcJkJ22OxPM3vSC2XFrFMSc26+ZHZ/+gphTFsriWFqbBGbff8Xi6Dodwn79jMVxTTuEPe0ji+PuLxD101+zON5vuQZx2w4WR1WGN2A39+9jcTQ9v8jHFBpWDVvtwWrspLMdmcogYS7Une1oex/CfmyS42hqDjHz6dwcx0wPiHjz4RxHAKoZM6e8AQAA" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAHt//oAIs+dtj/RPhx0bdqQzMQCBwZvDjjdZE8HsqueHHTWCU8HsBy8OOz6My3vLAAYH/m95v5IFxt5outKhHMr2t8tlBrESrfc6fsjMAuv9YLPXUUMdYr696V7HS5FpYHaG5V5HvdUQ85XM9zry8KeA2XZWex3DmJPB7Flmex3fp98Gs5uA6uXcPzGC2DuB4sdeQsyZbbfXMeRmBpgtkLbXcYU4RO+Nkr2OVZ8g5t/P3eso+QmiPqoYaJcdxD1xQHba7kww+3r5XsetURBznMr2Oj79BTGn1HGvY2ltEph94NseR9fpEPauH3sc17RD2Kmf9zju/gJRnwJUc7/lGpgtLbDXUZXhDdjNL3n2OpqeX+RjCg2rhq32YDUT73U6MpVBwnz5sk5H2/sQ9r7ATkdTc4iZdrKdjpkeEPE8rk5HAOa7rFW8AQAA" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEAHt//oAIs+dtD5G9HfYNO9KZGIAgwXCn3U3WRDBbIf2EHbNLKpi956iJ/d41GW8ZwODA/yrmVSww9hOXlQ7lUPb8O0XMIFac8xK7D5lZYL07Siba+klBzHco+2G7Ji0NYtfGybZ6qyHmMzD8suXhTwGzG94csVnzKwnM/nBPxG5mwW2omhM2uhafGGFqtv9Ig4p72IbczICrWSGeDGVPsz34FGY+A8MaqPoF6t9sjVzS4XZVLcsEs9e9XGu3MD8DLv70F8ScL7WT7PVSIO5Jee5u37MBwt4UvMN+di2EzdCw2+7MP6i9DjL2nt7XwOw5gZJ2uy3fMELUcNqzaM31MYWGlfFMZ7CasihX+9CXEHNOODDb+7BBzWR4aPfnYBLczP58SLxEpFXZAwBB/Ce6vAEAAA==" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEAHt//oAIs+dtj725nQ4NO9KZGIDg/RF2h5usiWA2A4OYPbNLKoTt0Oxw8nLGW4j4gf95d1aywNhPXFY6lEPZ8+8UMYNYL0q87D9kZkHNYWDwk0qHsk/YrUlLg4vrrU6F28XDnwJmN7xxsVvzKwmufmbBbbh6XYtPjDD29h8wczzsQm5mwNWsEE+Gix98mgoX/xm0gBPGfvoLosZvTZODXgrULoc5Dj0bIOxNxUqOs2thbvhlf+YfzMxEB0/va3Azd1u+YYSJs2jN9TGFhoPxTGewGp8uTYfQlzBzPOx92GDsafZ/DiL82J8PDfMGJQcAnTaUtZgBAAA=" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEAHt//oAIs+dtD4PbmfYNO9KZGIDAfaOr/U3WRDCbgeGhPbNLKpitYF1pf/JyxluI+IH/eXdWssDYT1xWOpRD2fPvFDGDWAXXNew/ZGaB9RZ8OGjnJwUxX71MxH5NWhqY7ffmiJ3e6lSoXR52PPwpUDYDw5pfSWB2wxsXu5kFt+HiuhafGGHs7T/S4HpDbmbA1WT+PcECNweqxn2jsL2RSzpcTdWyTDCbiUHBYWF+Btyup7+SoWrW2+ulJEHZYvY9G5Lgds2uhbPtz/yDqa+y9/S+BmbPCWSw3235BurOE3YsWnN9TKHhYzzTGaymcf4a+9CXEHMUmNfb+7DBzDxh/+cgjJ3o0J8PiYs9ZzwcAHCUlKWwAQAA" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEAHt//oAIs+dtDwYgiGHSY2eAgpOXM95CWAf+591ZyQJjP3FZ6VAOZc+/U8QMU2/745s+jH3mXzIThOVh5+l9jQkmvtvyDSOMzaI118cUao7xTGewmoY3LnahL5Pg6q+bq8HdAwDUulX6qAAAAA==" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEAHt//oAIs+dtDwYgiGHSY2eAgpOXM95CWAf+591ZyQJjP3FZ6VAOZc+/U8QMYiUs6rT9kJnFBNP7wPQXN4w9s+A2VNzDTtfiEyNMPFfJUhjGfvorGarmhJ1eShLcnJ4NSXC9s2sR4mf+JcPZnt7X4Gp2W76Bm8+iNdfHFOpO45nOYDXRCsL2oS8RZvqwIdh/DiLM789PhLMBcvBgkyABAAA=" />
    <add key="/amdcpu/0/load/5/values" value="H4sIAAAAAAAEAHt//oAIs+dtjw//6+0adqQzMUDBHc9jLDD2ycsZbyGsA//z7qxkgbGfuKx0KIey598pYgaxBCal2H3IzIKbI8zIqAJjP/2VDBb3e3PETi8lCa6mZwOM7WE3uxYhfqFZjR3GZtGa62MKtct4pjNYTc2GO3ahLxHqfdgQ7D8HEWb25ydC2SfsAFOzoLbwAAAA" />
    <add key="/amdcpu/0/load/6/values" value="H4sIAAAAAAAEAHt//oAIs+dtj5hwA4eGHelMDFBwkzURyhazZ3ZJBbOdPwnZn7yc8RYifuB/3p2VLDD2l+yVDuVQdv/WImYQKyAj2P5DZhZYb8EHRzs/KYT5a9LSwOyGNy52eqtToeIedjz8KQg1v5IganhO2M0suA0X17X4xAjTu/1HGlw85GYG3JwV4slw9sGnqQgzoer93hyxM3JJh7uhalkmmP1kdpzdwvwMuPqnv6DmNCg56KVA3KNg7W7fsyEJZr797Fo42+7MP4S9nt7XoOwTdrst3zDC2Cxac31MoWFlPNMZrGb6u2D70Jcwc07Y+7DB2XZ/DiLs6s+Hxct6ewArLrdAvAEAAA==" />
    <add key="/amdcpu/0/load/7/values" value="H4sIAAAAAAAEAHt//oAIs+dtDwYGD7uGHelMDFBwx/MYC4x98nLGWwjrwP+8OytZYOwv2SsdyqHs/q1FzDD1vDWy5jC2aOBcH1OoGqUiZ7D5JQrCdqEvk+B2+bDB2B52fw4ixPvzE+HiACPw71CoAAAA" />
    <add key="/amdcpu/0/load/8/values" value="H4sIAAAAAAAEAHt//oAIs+dtjxkreOwadqQzMUDBTdZEMHtCsZ8ds0sqXPzk5Yy3ENaB/3l3VrLA2F+yVzqUQ9n9W4uYYepVljLywNhrfiWBzSn44Gg3s+A23EwLrkNsMPYK8WSouIfdwacIe38GLeCEsZ/+gqhp4Dlhp5eSBFfzWUeTHcb29L4GFn/Q88h2t+UbRpi4aOBcH1OoO5WKnOF6Q18mwe31YUOY+ecggt2fnwhXAwDO2AtJOAEAAA==" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEAHt//oAIs+dtD4aGOKeGHelMDCDQ4O90kzURwj7g6MTskgphP3BxyvuU85YBIvGfmXkVC4xd47rSoRzKPjstjxnMXODq9CEzC6rX1MlPCmp+gqbTmrQ0KFvJSW811PwGeSce/hQIW0HGac2vJAjbQd5pZsFtqHuknHQtPjFC7JVw2v4Das4DUaeQmxkQNoOo0wrxZKiZIk4Hn0LNXyDstAauXtjJyAXmX2GnqmWZUHuFnRbmZ8D1Pv0FNYdB20kvBeoeBgenng1QdoKN0+xaGNvU6cw/qHoHHSdP72tQc9Sddlu+gbh5garT2fyFPqbQsMoKtoeaGeQU+hJmToCTDxuUvcDb6c9BGDvIqT8fFi8+TgCPgPscvAEAAA==" />
    <add key="/amdcpu/0/temperature/2/values" value="" />
    <add key="/amdcpu/0/temperature/3/values" value="" />
    <add key="/amdcpu/0/temperature/4/values" value="H4sIAAAAAAAEAHt//oAIs+dtDwYHF6eGHelMDCBwQNzpJmsilC3sxOySCmE7CDnlfcp5ywCR+M/MvIoFxq5xXelQDmWfnZbHDFGv4vQhMwuql9/JTwpqvoO405q0NKj5nE56q2Hmczjx8KfAxdf8SoKwGySdZhbchqqRcNK1+MQIsZfTafsPqDkNXE4hNzOgejmcVognQ9VzOR18moowE66e08nIJR3OrlqWCWVLOC3Mz4Crf/oLas4BSye9FKh7GKScejZA2QdknGbXQtkO3E5n/kHVNyg6eXpfg6qXdNpt+QbiZgdBp7P5C31MoWGVFWwPNSfAKfQlzExVJx82mF1OTn8OwtjSTv350HhpUHACAO/6x0O8AQAA" />
    <add key="/amdcpu/0/temperature/5/values" value="" />
    <add key="/amdcpu/0/temperature/6/values" value="" />
    <add key="/amdcpu/0/temperature/7/values" value="" />
    <add key="/amdcpu/0/power/0/values" value="H4sIAAAAAAAEAHt//oAIs+dtj4oyY6eGHelMDEAwrV/K6SZrIpit95XXidklFcyWE1RxKpfMfcsABgf+/7q9kgXGrnFd6VAOZZ+dlscMYrl94nT6kJkF1huf+dfRTwpifhLTV8c1aWlg9i6nD456qyHmbwr/6sjDnwJmL7v2yXHNryQwe67Sd8eZBbfBbIuoj466Fp8YQWwZ5k+O239AzLno9cEx5GYGmP180nvHFeLJYPbvzR8dDz6FmO8k/s5xDVT984qPjkYuEPcoRLx3rFqWCWbrPPvpuDAfYk6WxSfHp78g5rwz1HXSS4G4Z9JLeaeeDRC2T6+T0+xaCDv1OYfTmX8Q9Xc9uJ2ii66B2c8kfjquFHoDdjPDbV6n69MW+phCwypBxx6sxu2SnVPoS4g5h97oO/mwQdhH9pg4/TkIYWfz6Dn150PipdjAxAkAVp+SW7wBAAA=" />
    <add key="/amdcpu/0/power/1/values" value="H4sIAAAAAAAEAHt//oAIs+dtj+wZ6Y4NO9KZGIBA7jG3403WRDBbif+gg0ZwKpj9/I+mYxBX7lsGMDjw/9ftlSwwdnXOSodyKPtcfh4ziLWKe5nDh8wssF4DL2cHDXWI+Q+1OBwuRaaB2Y6iT+31VkPMV7jH58DDnwJme3F/sw9jTgazS9ZJO7xPvw1mHwl+Yi/n/okRxN4h9sT+2EuIOa8vPrAPuZkBZrs9v2a/Qhyi94bGU/uqTxDz4wOO2kt+gqg/deexPY8dxD32T8/ap+3OBLPv+Ks4bI2CmBPl/M7+6S+IOSzPnB1La5PA7KLNnx1cp0PYvQd8Hde0Q9j8X1ocdn+BqC+90uVwv+UamH0gTcFBleEN2M13DJY7XJ+20McUGlb33jqA1RxaluvIVAYJ8yvb/B1t70PY7/dGOJqaQ8zsmuXjmOkBEe/Yne0IAP4g5Cu8AQAA" />
    <add key="/amdcpu/0/clock/0/values" value="" />
    <add key="/amdcpu/0/power/2/values" value="H4sIAAAAAAAEAHt//oAIs+dtj0cTXts37EhnYgACma399jdZE8HsuomG9swuqWD2GrHV9m0OuW8ZwODA/z+3V7LA2FmuKx3Koexz+XnMIJbuRT37D5lZYL0MTn/t/KQg5t/JmmC3Ji0NzP6nkGintxpivvS0Pjse/hQw+2XTXLs1v5LA7A2c0+1mFtwGs8PCo+x0LT4xgtgni4vttv+AmPMrIdwu5GYGmF39JdNuhXgymK1iuNfu4FOI+X1uDXZroOqX9JbaGblA3FPkkmNXtSwTzH6WtNFuYT7EnNx9s+2e/oKYM/3Fbnu9FIh7Vs1vs+/ZAGHvN39hP7sWwt47Q8j+zD+I+ruJ8vbRRdfAbIuCHruVQm/Abn5ZqGb/du9CH1NoWHmx2oPVrPv5wz70JcQcng/37X3YIOymovv2fw5C2J0fztgvnAaJl30XntkDANhdSG68AQAA" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEAHt//oAIs+dtDw3WateGHelMDEAg9jHb9SZrIpgt7prryuySChdvc8h9ywAGB/7/ub2SBcbOcl3pUA5ln8vPYwaxOL9Wu37IzALr/fEh29VPCmL+rym5rmvS0uBsvdWpcDU8/Clw9ppfSUwwc2YW3Iar17X4xAhTs/mlETuMffBpKsL8H2lwc4xc0uHsqmWZYPbPLzmuC/Mz4OJPfyWD2X988l31UiD2/rHId+3ZkARXP7s2Ca7+zD+Ieu6Zta7RRdfg9q4UesMIU/9270IfU2iYeLHag9WUHKx1DX0JMafkZ42rDxuEfSSo1fXPQQi71LPWdeG0RDgbAEKzKEukAQAA" />
    <add key="/amdcpu/0/power/3/values" value="H4sIAAAAAAAEAHt//oAIs+dtDy4OH4eGHelMDEDAU6DrcJM1Ecz+VHnXntklFcy+9UrDoc0h9y0DGBz4/+f2ShYYuzJnpUM5lL3fI48ZxLp2Z679h8wssN5FvwPs/aQg5kc6SNqvSUsDs2fZadnrrYaY/5HL0J6HPwXM3lmrar/mVxKYfWO1jf3MgttgdoKxgL2uxSdGEPvCaWH77T8g5pRVCtmH3MyAsN/z2a8QT4aqF7Q/+BRi/tx2Hvs1UPUS8mr2Ri4Q98zezGtftSwTzC64Wm6/MB9izqHnqvZPf0HMYZri5qCXAnHPn8esDj0bIGyFWT4OD1sh7Blqc+zbvkHUC19cbR9ddA3MfnIr1n6l0Buwm2v19tq/3bvQxxQaVieOOYDVpAYGO1xXh4S51U8rBx82iJlr33k7/DkIYZeccXfY9wSiZl9BrAMA+jpCObwBAAA=" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEAHt//oAIs+dtj7lMra4NO9KZGIBA7GO2603WRDBb3DXXldklFS7e5pD7lgEMDvznZl7FAmNnua50KIey93vkMYNYP7/kuH7IzALr/fEh29VPCmL+rym5rmvS0uBsvdWpcDU8/Clw9ppfSWA259dq15kFt+HqdS0+McLUbH5pxA5jH3wKMYdrb43rmh9pcHOMXNLh7KplmUwwty3Mz4CLP/2VDGZPM+hz1UuB2Ns3qc21Z0MSXP3D1iS4+rZvEPV9CW2u0UXX4G5bKfSGEab+7d6FPqbQMDlxzAGs5jbbVNfr6pCwLflZ4+rDBjHzSFCr65+DEPZRvTbXfU8gao6canUFAF8lahKkAQAA" />
    <add key="/amdcpu/0/power/4/values" value="H4sIAAAAAAAEAHt//oAIs+dtj6sdH+wadqQzMQCBq52f3U3WRDBbJJzPjtklFcwW3hBk1+aQ+5YBDA7852ZexQJjZ7mudCiHsvd75DGDWMsn6Np9yMwC6/V/8sxWQx1ivt6kFbaXItPA7PdRrbZ6qyHmfxNdbMvDnwJmJ1Z024YxJ4PZCz0bbN+n3wazuZdftpV0/cQIYucEbbQ9/RpiTtPFXNuQmxlgdrRmre0KcYjehoMmttEfIOYXRzfZWnyBqLcxv2zLYwdxT4B9tK3s9kwwW0vuiO2/OIg5HJHltk9/QcwREmey10tJArMVplXY9WyAsM9bt9mtaYew8+fx2e3+AlH/cb+wnW7dNTD7kchT2+tsb8Bubn+jZvd270IfU2hYnTjmAFbzQ9Pa/ro6JMxnnLKw92GDmLlBW8X+z0EIO3Spu/2+JxA1PbYe9gD9dRmWvAEAAA==" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEAHt//oAIs+dtDw3WateGHelMDEAg9jHb9SZrIpgt7prryuySChdvc8h9ywAGB/5zM69igbGzXFc6lEPZ+z3ymEGsn0tyXD9kZoH1/viQ7aqhDjH/55cc10uRaWD2rym5rnqrU+FqePhT4Oww5mS4+vfpt+HqJV0/McLUHL9jxA5jR39Ihaux+JKGMNMuHc6W3Z4JN/NfXAZc/OkviF1/fPJd9VKSwOzfL/JcezZA2TPyXNe0J8HV7/6SDBfXrbsGN/M62xtGGPvt3oU+ptAwOXHMAaymJLbW9bo6JGyLDWtcfdggZpYdrHX9cxDCjvfMc933BKLmyKlWVwCi0mnXpAEAAA==" />
    <add key="/amdcpu/0/power/5/values" value="H4sIAAAAAAAEAHt//oAIs+dtD7ZJKg4NO9KZGIDgLf8c+5usiWD2HMMge2aXVDBbRPCCfWpe7lsGMDjw3/zOShYYW9prpUM5lM1sm8cMYrk9NbX/kJkF1rsv9JidhjrEfJPH7XaXItPA7DhZcTu91RDzVa5n2vHwp4DZcn5admHMyWD2sVgfu/fpt8Fsi+2JdnLunxhB7PooPrtjLyHmvIgNtgu5mQFmP1SStVshDtGrLSZqV/UJYn6M12tbyU8Q9UaX5ex47CDuWfiU0051ZyaYvSfA1O5bDMSc/4mcdk9/Qcy5oP/VXi8lCczWPLHavmcDhD05R8RhTTuEXf9cw373F4j6E3dk7XXrroHZrSVtdtfZ3oDd/HKKj73ChYU+ptCwmrrFAaymL1Ha4bo6JMzfVDE5+LBBzIz+w+UgJQAx8+2xX/YLpkHUqAgJOwAAUeyRXLwBAAA=" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEAHt//oAIs+dtj7lMra4NO9KZGIBA7GO2603WRDBb3DXXldklFS6empf7lgEMDvw3v7OSBcaW9lrpUA5lM9vmMYNYP5fkuH7IzALr/fEh21VDHWL+zy85rpci08DsX1NyXfVWp8LV8PCnwNlhzMlgNufXatf36bfh6uXcPzHC1By6ZcQOY1d9SoWrkfyUhjDTLh3OVt2ZCXfDt5gMuPjTXxC7/vjku+qlJIHZv1/kufZsgLJn5LmuaU+Cq9/9JRkurlt3DW7mdbY3jDA3K1xY6GMKDZOpWxzAai609bpeV4eE7ZEZra4+bBAziw1rXKUEIGYee9TmumAaRM3RP62uADI8YcGkAQAA" />
    <add key="/amdcpu/0/power/6/values" value="H4sIAAAAAAAEAHt//oAIs+dtD7Hfz+0bdqQzMQDBNOMU+5usiWD2ty9S9rYBqWB2nVaVvXZS7lsGMDjw3/zOShYYOzN4pUM5lL3VOI8ZxOLmfmX3ITMLrPeor5SdhjrE/IBVj20vRaaB2R1HP9jqrYaYr8P+2JaHPwXM1nJltAtjTgaz7eS07N6n3wazP1R9tpVz/8QIYgs+m2F77CXEnKSgr7YhNzPAbI+KS7YrxCF6f9lz2FV9gpi/a+YWW8lPEPUVJsJ2PHYQ9+jNfWibtjsTzN7HIG23NQpizrRjj22f/oKY8yV5sr1eShKYXXDziV3PBgg76MIa+zXtEHaU7Xy73V8g6pNYa+x0666B2Q9uKthdZ3sDdnNF1Gk7hQsLfUyhYTV1iwPEvzv/2V9Xh4S5q+teex82iJlFPU/tpQQgZhZU7rVfMA2ipiPmhT0AGK78hLwBAAA=" />
    <add key="/amdcpu/0/clock/5/values" value="H4sIAAAAAAAEAHt//oAIs+dtDw3bKteGHelMDEAg9jHb9SZrIpgt7prrahuQChfXTsp9ywAGB/6b31nJAmNnBq90KIeytxrnMYNYP5fkuH7IzALr/fEh21VDHWL+zy85rpci08DsX1NyXfVWp8LV8PCnwNlhzMlgNufXatf36bfh6uXcPzHC1By6ZcQOY1d9SoWrkfyUhjDTLh3OTtudCXfD1qgMuPjTXxC7/vjku+qlJIHZv1/kufZsgLJn5LmuaU+Cq9/9JRkurlt3DW7mdbY3jDC2woWFPqbQMJm6xQGs5ui9Vtfr6pCwLY2tdfVhg5h5xKPVVUoAYuaxOW2uC6ZB1MT9zHUFAES2sbGkAQAA" />
    <add key="/amdcpu/0/power/7/values" value="H4sIAAAAAAAEAHt//oAIs+dtj4ki6Q4NO9KZGIBALovL4SZrIphdxXDb3jYgFczW8Ixy0E7KfcsABgf+m99ZyQJj345Z6VAOZTtr5TGDWPz7T9l/yMwC672iVGmvoQ4xv7LH2P5SZBqY/ab+vp3eaoj5e+Y42PPwp4DZUwUf2YUxJ4PZtc1J9u/Tb4PZqjVf7OTcPzGC2LPnS9ofewkx597L/3YhNzPAbFHxe3YrxCF634c+s6v6BDFflPGcneQniPrixLN2PHYQ99zIum6XtjsTzLZk07XfGgUxZ3Hbf7unvyDmLE9xcdBLSQKzbSI4HXo2QNiJzjEOa9oh7D9pHfa7v0DUv+mcbq9bdw3MXrZczf462xuwm+doH7RXuLDQxxQaVlO3OIDVVPR6OzCVQcJc6YG2g+IOCLtzvZFDYBzEzIifMg6ZHhDxE3G2DgD/KgWivAEAAA==" />
    <add key="/amdcpu/0/clock/6/values" value="H4sIAAAAAAAEAHt//oAIs+dtj7nzWlwbdqQzMQCB2Mds15usiWC2ZmSNq21AKlxcOyn3LQMYHPhvfmclC4x9O2alQzmU7ayVxwxicUysdv2QmQXW++NDtquGOsT83j+trpci08Bsrr01rnqrU+FqePhT4Oww5mQwm/Nrtev79Ntw9XLunxhhag7dMmKHsas+Qcz5NSXXVfJTGsJMu3Q4O213JtzMrVEZcPGnvyB29W1oc9VLSYKwJ7W59myAsHsT2lzXtCfB1e/+AlHPfbDWVbfuGtzM62xvGGHsOU8W+phCw0RygQNYzYWQXlemMkjYXpDpc1XcAWGf/9DjGhgHMfPOuamumR5QNf96XQFB6hTSpAEAAA==" />
    <add key="/amdcpu/0/power/8/values" value="H4sIAAAAAAAEAHt//oAIs+dtD+7j0vYNO9KZGICArbTW7iZrIpi9ZpmknUZwKpjtnj/T7kBx7lsGMDjwf/vxlSww9u2YlQ7lULazVh4ziHVDvNTuQ2YWWO+dFRNtNdQh5u+tNbG9FJkGZn/evttWbzXE/LNvym15+FPA7K5jh2zDmJPB7KXPI23fp98GsxlfOdvKuX9iBLF3XJW1PfYSYk6+h59tyM0MMPvPajXbFeIQvZd1TGyrPkHM17SVtZX8BFF/mNvOlscO4h4XnSW2abszwWz2lcttt0ZBzBG4zWf79BfEHK+3KvZ6KUlgdvvrALueDRC2S/ZiuzXtEDZv3XXb3V8g6vuu7rZlbb4GCbdvfbb/Gd+A3bzuM4fdnCcLfUyhYSW5wAGsZsv6JHumMkiYTyrJtFfcAWFLHgqzD4yDmPl1b5J9pgdEnM+52B4AyeSqkbwBAAA=" />
    <add key="/amdcpu/0/clock/7/values" value="H4sIAAAAAAAEAHt//oAIs+dtDw3bKteGHelMDEAg9jHb9SZrIpgt7prrqhGcChc/UJz7lgEMDvzffnwlC4x9O2alQzmU7ayVxwxi/VyS4/ohMwus98eHbFcNdYj5v37kul6KTIOwp+S66q1Ohavh4U+Bs8OYk8Hsn19yXN+n34az5dw/McLUHLplxA5jV31KhZsp+SkNYaZdOpydtjsTbs7WqAy4+NNfELv++OS76qUkgdm/X+S59myAsmfkua5pT4Kr3/0lGS7O2nwNbuZ/xjeMMPacJwt9TKFhIrnAAaymRLHWlakMErYJifmuijsg7OKH1a6BcRAzj51rc830gIiXza1zBQCFH4UApAEAAA==" />
    <add key="/amdcpu/0/power/9/values" value="H4sIAAAAAAAEAHt//oAIs+dtj0mB++0adqQzMQDB3yoHu5usiWD2fiNrO43gVDB7eROL3YHi3LcMYHDg//bjK1lg7NsxKx3KoWxnrTxmEEv791PbD5lZYL2KUy1tNdQh5jO06NleikwDs++J2NnqrYaYv2PjTxse/hQwO5d/om0YczKY/eodt+379NtgtuBPBVs590+MIPZjh6c2x15CzHk+R9E25GYGmL2G64ztCnGI3pmp4rZVnyDmH53Bayv5CaJ+1RltWx47iHuOWJ61SdudCWYXaUy03RoFMee8XZ/t018Qc/QYj9qV1iaB2an5O2xdp0PYQZ/l7da0Q9j6Fctsd3+BqD8hvsv2fss1MPtc4XNbVYY3YDfvNDloO+fJQh9TaFhJLnAAq9ENO2HHVAYJ8w1PPtnZ3oewXwgetDM1h5gZeYbRPtMDIr4zTMseAFxsuPa8AQAA" />
    <add key="/amdcpu/0/clock/8/values" value="H4sIAAAAAAAEAHt//oAIs+dtDw3bKteGHelMDEAg9jHb9SZrIpgt7prrqhGcChc/UJz7lgEMDvzffnwlC4x9O2alQzmU7ayVxwxi/VyS4/ohMwus941KgquGOsR8rp81rpci08DsX1NyXfVWQ8z/8SHblYc/Bc4OY04Gs39+yXF9n34bzpZz/8QIU3PolhE7jF31KRVupuSnNISZdulwdtruTLg5W6My4OJPf0Hs+uOT71pamwRm/36R5+o6Hcqekee6pj0Jrn73l2S4+P2Wa3AzVRneMMLYc54s9DGFhonkAgewmvjCPFemMkjYJm7Md7W9D2Ef4Wl1NTWHmHnRr8810wMiXja3zhUAMU595qQBAAA=" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="260" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>