#main-page p {
    font-size: 24px;
    text-align: justify;
    margin: 24px;
}
#main-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
}
#main-page h1 {
    padding: 24px;
}
.main-page-buttons{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.main-page-buttons button{
    margin: 12px;
}