.info-stand-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.page-stand-containers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.page-stand-containers table{
    width: 33%;
    margin: 16px;
    /*border: 1px white solid;*/
}
.page-stand-container span {
    font-size: 20px;
}
/*.info-stand-page h2, h1 {*/
/*    font-style: italic;*/
/*}*/
.info-stand-page p {
    font-size: 20px;
    margin: 6px ;
}
.info-stand-page ul {
    font-size: 20px;
}

.page-stand-containers-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.info-stand-page-note {
    display: flex;
    justify-content: space-between;
}

.page-stand-container-footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.page-stand-container-footer section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: auto;
    margin: 12px;
    padding: 32px;
    text-align: justify;
    border: 2px none black;
    border-right-style: solid;
    border-left-style: solid;
}

.page-stand-container-footer button {
    width: 216px;
    height: 36px;
    font-size: 18px;
    margin: 8px;
    cursor: pointer;
}

.page-stand-container-footer select {
    width: auto;
    /*height: 36px;*/
    font-size: 18px;
    /*margin: 8px;*/
}

#page-stand-standKey {
    font-size: 24px;
    text-shadow: 1px 1px 10px red;
}
