@import url('https://fonts.googleapis.com/css2?family=Anuphan&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Anuphan', sans-serif;
}

body {
    background-color: rgba(85, 98, 111, 0.35);
}